# Insert

In [2]:
import pandas as pd
var = pd.DataFrame({"A":[10,20,30,40], "B":[14,16,18,20]})
print(var)

    A   B
0  10  14
1  20  16
2  30  18
3  40  20

In [4]:
#var.insert(index_number,coloumn_name,Data_to_insert)

var.insert(2,"C",var["A"]+var["B"])
var

    A   B   C
0  10  14  24
1  20  16  36
2  30  18  48
3  40  20  60

In [19]:
# we can also use list slicing to insert particular amount of Data
var["A'"] = var["A"][0:2]
var

TypeError: cannot convert the series to <class 'int'>

# Delete

In [ ]:
var1 = var.pop("B")