In [2]:
import pandas as pd

csv_1 = pd.read_csv("D:\\Data Analytics Icube\\Pandas\\Stock_data.csv")

print(csv_1)

    Interest Rate  Unemployement_rate  Stock_index_price
0            2.75                 5.3               1464
1            2.50                 5.3               1393
2            2.50                 5.3               1357
3            2.50                 5.3               1293
4            2.50                 5.4               1256
5            2.50                 5.6               1254
6            2.50                 5.5               1234
7            2.25                 5.5               1195
8            2.25                 5.5               1159
9            2.25                 5.6               1167
10           2.00                 5.7               1130
11           2.00                 5.9               1075
12           2.00                 6.0               1047
13           1.75                 5.9                965
14           1.75                 5.8                943
15           1.75                 6.1                958
16           1.75                 6.2                971
17           1.75                 6.1                949
18           1.75                 6.1                884
19           1.75                 6.1                866
20           1.75                 5.9                876
21           1.75                 6.2                822
22           1.75                 6.2                704
23           1.75                 6.1                716

In [3]:
csv_1.index

RangeIndex(start=0, stop=24, step=1)

In [5]:
csv_1.columns

Index(['Interest Rate', 'Unemployement_rate', 'Stock_index_price'], dtype='object')

In [6]:
csv_1.head()

   Interest Rate  Unemployement_rate  Stock_index_price
0           2.75                 5.3               1464
1           2.50                 5.3               1393
2           2.50                 5.3               1357
3           2.50                 5.3               1293
4           2.50                 5.4               1256