# Insert

In [23]:
import pandas as pd
var = pd.DataFrame({"A":[10,20,30,40], "B":[14,16,18,20]})
print(var)

    A   B
0  10  14
1  20  16
2  30  18
3  40  20

In [24]:
#var.insert(index_number,coloumn_name,Data_to_insert)

var.insert(2,"C",var["A"]+var["B"])
var

    A   B   C
0  10  14  24
1  20  16  36
2  30  18  48
3  40  20  60

In [25]:
# we can also use list slicing to insert particular amount of Data
var["A'"] = var["A"][0:2]
var

    A   B   C    A'
0  10  14  24  10.0
1  20  16  36  20.0
2  30  18  48   NaN
3  40  20  60   NaN

# Delete

In [26]:
var1 = var.pop("B")
print(var1)
print(var)

0    14
1    16
2    18
3    20
Name: B, dtype: int64
    A   C    A'
0  10  24  10.0
1  20  36  20.0
2  30  48   NaN
3  40  60   NaN

In [27]:
del var["A'"]
print(var)

    A   C
0  10  24
1  20  36
2  30  48
3  40  60