# Series

In [2]:
import pandas as pd

In [3]:
s = [2,3,4,5,6]
var= pd.Series(s)

print(var)
print(type(var))

0    2
1    3
2    4
3    5
4    6
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
s = [2,3,4,5,6]
var= pd.Series(s , index = ['a','b','c','d','e'] , dtype="float")

print(var)
print(type(var))

a    2.0
b    3.0
c    4.0
d    5.0
e    6.0
dtype: float64
<class 'pandas.core.series.Series'>

In [7]:
S1 = pd.Series(12 , index=[1,2,3,4,5,6,7])
S2 = pd.Series(12 , index=[1,2,3,4])

print(S1+S2) #will print the output also for the missing index , but if we use numpy array then it will throw the broadcast error

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64

# DataFrame

In [8]:
l = [1,2,3,4,5,6,7,8]
var = pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
<class 'pandas.core.frame.DataFrame'>

In [10]:
l = [[1,2,3,4,5,6,7,8],[99,98,97,96,95,94,93,92]]
var = pd.DataFrame(l)
print(var)

    0   1   2   3   4   5   6   7
0   1   2   3   4   5   6   7   8
1  99  98  97  96  95  94  93  92

In [12]:
d1 = {"a":[1,2,3,4,5],"b":[1,2,3,4,5],"c":[1,2,3,4,5],1:[1,2,3,4,5]}
var1 = pd.DataFrame(d1)
print(var1)
print(type(var1))

   a  b  c  1
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5
<class 'pandas.core.frame.DataFrame'>

In [14]:
d1 = {"a":[1,2,3,4,5],"b":[1,2,3,4,5],"c":[1,2,3,4,5],1:[1,2,3,4,5]}
var1 = pd.DataFrame(d1,columns=["a",1],index=[9,8,7,6,5])
print(var1)
print(type(var1))

   a  1
9  1  1
8  2  2
7  3  3
6  4  4
5  5  5
<class 'pandas.core.frame.DataFrame'>

In [17]:
print(var1["a"][6])

4

In [18]:
sr = {"a":[9,8,7,6,5],"b":[1,2,3,4,5]}
var2 = pd.DataFrame(sr)
print(var2)
print(type(var2))

   a  b
0  9  1
1  8  2
2  7  3
3  6  4
4  5  5
<class 'pandas.core.frame.DataFrame'>